/* ==UserStyle==
@name           uab.cat
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    Theming of UAB
@author         Kai
@updateURL https://raw.githubusercontent.com/soks-kat/campus-virtual-theming/refs/heads/main/e_aules.user.less
@preprocessor less
@var select colourfull "Colourfull" ["gay:Gay*", "clean:Clean"]
@var select colourscheme "Colourscheme" ["catppuccin:Catppuccin*", "kanagawa:Kanagawa", "trans:Trans", "gaymer:Gaymer", "custom:Custom"]
==/UserStyle==*/
@import (optional) "http://127.0.0.1:3011/custom.less";
@import "https://bertran.xyz/media/colors.less?v=2";
@-moz-document domain("cv.uab.cat"){
    
    :root{ 
        /*website variables*/
        --color-marca-primari: var(--primary);
        --color-marca-primari-b: var(--primary-b);
        
        /*side buttons*//*
        --color-marca-secundari: var(--gay, var(--green)) var(--clean, var(--background-light));
        --color-marca-terciari: var(--gay, var(--red)) var(--clean, var(--background-light));
        --color-marca-terciari-b: var(--red-b);
        --color-marca-quaternari: var(--gay, var(--yellow)) var(--clean, var(--background-light));
        --color-marca-quaternari-b: var(--yellow-b);*/
        
        /*side button and secondary top bar*/
        --color-marca-secundari-b: var(--secondary);
        --color-marca-secundari-fons: ;
        
        /*text on the colorful buttons*/
        --color-info-text: var(--text-dark);
        
        /*all of the main links*/
        --color-enllac: var(--link);
        --color-enllac-b: var(--link-b);
        --color-enllac-c: var(--blue);
        a:hover .icona {
          fill: var(--primary);
        }
        
        /*esdeveniments propers*/
        --color-positiu-fons: var(--gay, var(--red)) var(--clean, var(--background-light));
        --color-negatiu-fons: var(--background-light); 
        
        --color-negatiu-text: var(--red);
        
        --color-blanc: var(--text);
    }

    body{
        background: var(--background);
        /* background: var(--back); */
        color: var(--text);   
    }
    
    .acordio .titol {
        margin: 1em;
    }

    .boto{
        border-radius: var(--border-radius);
        text-align: center !important;
    }
    #llistat-aules-desplacades .titol-aula {
        border-top: var(--vora-0) solid var(--secondary);
    }

    /*missatgeria moodle*/
    .boto.color-primari{
        color: var(--gay, var(--text-dark)) var(--clean, var(--primary));
        background: var(--gay, var(--primary)) var(--clean, var(--background-light));
    }
    .boto.color-primari:hover, .boto.color-primari:hover .icona {
        color: var(--text-dark);
        fill: var(--text-dark);
    }
    .boto .icona {
        fill: var(--gay, var(--text-dark)) var(--clean, var(--primary));
        height: var(--font-size-0);
    }
    
    h3 {
        border-color: var(--primary);
    }
    .titol-aula {
        border-color: var(--gay, var(--secondary)) var(--clean, var(--background-light)) !important;
    }
    
    [id="icona-buit"] {
        fill: var(--primary) !important;
    }

    /*esdeveniments propers*/
    .etiqueta.positiu{
        color: var(--gay, var(--text-dark)) var(--clean, var(--red));
    }
    .etiqueta{
        color: var(--text);
        border-radius: var(--border-radius);
    }
    /*guia docent and bibliografia*/
    .boto.invertit.petit{
        background: var(--background-light);
        color: var(--text);
        border-width: 0px;
    }
    .boto.invertit .icona {
        fill: var(--text);
    }

    /*button under utilitats*/
    #text .boto.color-primari.cta:nth-child(2) {
        color: red !important;
    }
    /*curs actual*/
    #nav-seccio-menu li a {
        color: var(--link);
    }
    #nav-seccio-menu li:not(:last-child) {
        border-bottom-color: var(--gay, var(--primary)) var(--clean, var(--background-light))
    }
    /*buttons under dreceres*/
    .dreceres a {
        background: var(--background-light);
        color: var(--text);
        border-radius: var(--border-radius);
    }
    .dreceres a:hover {
        border-color: var(--red);
    }
    
    footer {
        background: var(--background-dark);
    }
    
    /*side buttons*/
        /*red*/
    .cc-banners-cta .color-terciari {
        background-color: var(--gay, if(@colourscheme = trans, var(--blue), var(--red))) var(--clean, var(--background-light));
    }
    .cc-banners-cta .color-terciari .descripcio,  .cc-banners-cta .color-terciari .titol, .cc-banners-cta .color-terciari .icona {
        color: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--blue), var(--red)));
        fill: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--blue), var(--red)));
    }
    .cc-banners-cta a.color-terciari:hover {
        background-color: if(@colourscheme = trans, var(--blue-b), var(--red-b));
    }
    .cc-banners-cta a.color-terciari:hover .icona, .cc-banners-cta a.color-terciari:hover .titol, .cc-banners-cta a.color-terciari:hover .descripcio {
        color: var(--text-dark);
        fill: var(--text-dark);
    }
        /*orange*/
    .color {
        background-color: var(--gay, if(@colourscheme = trans, var(--red), var(--orange))) var(--clean, var(--background-light));
    }
    .cc-banners-cta .color .titol, .cc-banners-cta .color .descripcio, .cc-banners-cta .color .icona {
        color: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--red), var(--orange)));
        fill: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--red), var(--orange)));
    } 
    a.color:hover {
        background-color: if(@colourscheme = trans, var(--red-b), var(--orange-b));
    }
    .cc-banners-cta .color:hover .titol, .cc-banners-cta .color:hover .descripcio, .cc-banners-cta .color:hover .icona {
        color: var(--text-dark);
        fill: var(--text-dark);
    }

        /*yellow*/
    .cc-banners-cta .color-quaternari {
        background-color: var(--gay, if(@colourscheme = trans, var(--purple), var(--yellow))) var(--clean, var(--background-light));
    }
    .cc-banners-cta .color-quaternari .descripcio,  .cc-banners-cta .color-quaternari .titol, .cc-banners-cta .color-quaternari .icona {
        color: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--purple), var(--yellow)));
        fill: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--purple), var(--yellow)));
    }
    .cc-banners-cta a.color-quaternari:hover {
        background-color: if(@colourscheme = trans, var(--purple-b), var(--yellow-b));
    }
    .cc-banners-cta a.color-quaternari:hover .icona, .cc-banners-cta a.color-quaternari:hover .titol, .cc-banners-cta a.color-quaternari:hover .descripcio {
        color: var(--text-dark);
        fill: var(--text-dark);
    }
    
        /*green*/
    .cc-banners-cta .color-secundari {
        background-color: var(--gay, if(@colourscheme = trans, var(--red), var(--green))) var(--clean, var(--background-light));
    }
    .cc-banners-cta .color-secundari .descripcio,  .cc-banners-cta .color-secundari .titol, .cc-banners-cta .color-secundari .icona {
        color: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--red), var(--green)));
        fill: var(--gay, var(--text-dark)) var(--clean, if(@colourscheme = trans, var(--red), var(--green)));
    }
    .cc-banners-cta a.color-secundari:hover {
        background-color: if(@colourscheme = trans, var(--red-b), var(--green-b));
    }
    .cc-banners-cta a.color-secundari:hover .icona, .cc-banners-cta a.color-secundari:hover .titol, .cc-banners-cta a.color-secundari:hover .descripcio {
        color: var(--text-dark);
        fill: var(--text-dark);
    }
  
        /*blue*/
    .cc-banners-cta .gris {
        background-color: var(--gay, var(--blue)) var(--clean, var(--background-light));
    }
    .cc-banners-cta .gris .descripcio,  .cc-banners-cta .gris .titol, .cc-banners-cta .gris .icona {
        color: var(--gay, var(--text-dark)) var(--clean, var(--blue));
        fill: var(--gay, var(--text-dark)) var(--clean, var(--blue));
    }
    .cc-banners-cta a.gris:hover {
        background-color: var(--blue-b);
    }
    .cc-banners-cta a.gris:hover .icona, .cc-banners-cta a.gris:hover .titol, .cc-banners-cta a.gris:hover .descripcio {
        color: var(--text-dark);
        fill: var(--text-dark);
    }
    /*warning*/
    #avisos .acordio-boto[aria-expanded=true] {
        color: var(--text-dark);
    }
    #avisos .acordio-boto.alerta {
      background-color: var(--orange);
      color: var(--text-dark);
    }
    #avisos .acordio-boto.alerta .icona {
      fill: var(--text-dark);
    }
    
    /*better alignment*/
    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }


    
    /*shit I've killed*/
    header {
        background-image: url(../img/columnes.svg);
        background-size: 0px;
        background-position: bottom;
        margin: 10px;
        display: none;
    }
    section .header {
        border-top: 0;
    }
    #avisos .acordio-boto.neutre {
        display: none;
    }
    .capcal-eines {
        background: #a177d1aa;
        height: var(--espai-4);
        border-radius: var(--border-radius);
    }
        #actualitat {
        background: #313244;
        display: none;
    }
    #actualitat .imatge img {
        display: none;
    }
}

@-moz-document domain("e-aules.uab.cat") {
    :root{       
        --anuncis: if(@colourscheme = gaymer, var(--primary), var(--yellow));
        --pdf: if(@colourscheme = gaymer, var(--primary), var(--orange));
        --test: var(--red);
        --profile: if(@colourscheme = gaymer, var(--primary), var(--secondary));
    }
    /*background*/
    body {
        color: var(--text);
        background-color: var(--background);
    }
    body.limitedwidth #page.drawers .main-inner,
    .header-maxwidth {
        background-color: var(--background);
    }
    nav.bg-white {
        background-color: var(--background-light) !important;
    }
    #region-main {
        background-color: var(--background);
    }
    .bg-light {
        background: var(--background) !important;
        border-width: 0px !important;
    }
    .bg-white {
        border: 0px !important;
    }


    /*title*/
    #page-header {
        /*background-color: color-mix(in srgb, var(--primary) var(--gay), var(--background-light) var(--clean));*/
        background-color: var(--gay, var(--primary)) var(--clean, var(--background-light));
        border-radius: var(--border-radius);
        padding: 1em;
    }
    h1,
    .h1,
    h2,
    .h2 {
        color: var(--gay, var(--text-dark)) var(--clean, var(--primary));
    }

    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        /*color: var(--text);*/
        color: var(--gay, var(--primary)) var(--clean, var(--text));
    }

    /*main tab bar*/
    .course-section {
        border: none;
        border-bottom: 3px solid var(--primary);
        border-radius: 0;
        padding: .8rem 1rem;
    }  
    .moremenu .nav-tabs {
        background: var(--background);
    }    
    .moremenu .nav-link.active {
        background: var(--background);
        border-bottom-color: var(--primary );
    }    
    .secondary-navigation .moremenu .nav-link:hover {
        border-bottom: 3px solid var(--primary);
    }   
    .secondary-navigation .navigation {
        background-color: var(--background);
        border-bottom-width: 0px;
    }
    .secondary-navigation .navigation a.nav-link {
        color: var(--text);
    }

    /*course sections*/
    .course-section .sectionname > a {
        color: var(--primary);
    }
    .course-section:hover .sectionname > a {
        color: var(--primary-b);
    }
    .course-section-header .btn {
        color: var(--primary);
    }
    a {
        color: var(--link);
    }
    a:hover {
        color: var(--link-b);
    }
    .topics li.course-section {
        border-bottom-width: 0px;
        margin-bottom: .5rem;
    }
    .activity-item:not(.activityinline) {
        border-radius: var(--border-radius);
        border-width: 0px;
        background: var(--background-light);
    }
    element.style {
        color: rgb(0, 255, 0);
    }

    .course-content .current::before {
        border-left: 3px solid var(--secondary);
    }

    .activity {
        border-top: hidden;
    }
    .btn.btn-icon.icons-collapse-expand {
        color: var(--primary);
    }
    .btn.btn-icon.icons-collapse-expand:hover {
        color: var(--primary-b);
        outline-width: 0px;
    }

    .course-section .availabilityinfo {
        background-color: var(--background-light);
    }

    .course-section.hidden .section-item,
    .course-section.orphaned .section-item, .course-section .section-item{
        background-color: var(--background);
        border-top: 3px solid var(--primary);
        border-bottom-width: 0px;
    }
    .bg-secondary {
        background-color: var(--background-light) !important;
        color: var(--text-disabled) !important;
        border-width: 0px;
    }
    .bg-primary {
        background-color: var(--background-light) !important;
    }
    .text-white {
        color: var(--text-color) !important;
    }
    .activity-item .activity-altcontent.activity-description {
        margin-top: .5rem;
        padding-top: .5rem;
        border-top: 1.5px solid var(--text-disabled);
        font-size: .875em;
    }
    .course-section .availabilityinfo {
      color: var(--text-disabled);
    }
    .errorbox {
        color: var(--red);
        background: var(--background-light);
        border-radius: var(--border-radius);
        border-width: 0px       
    }
    .box .errorcode {
        color: red !important
    }

    /*icons*/
    .activityiconcontainer.collaboration:not(.isbranded) .activityicon:not(.nofilter) {
        filter: drop-shadow(10000px 0 0 var(--gay, var(--text-dark)) var(--clean, var(--anuncis))) !important;
        transform: translateX(-10000px);
    }
    .activityiconcontainer.content:not(.isbranded) .activityicon:not(.nofilter) {
        filter: drop-shadow(10000px 0 0 var(--gay, var(--text-dark)) var(--clean, var(--pdf))) !important;
        transform: translateX(-10000px);
    }
    .activityiconcontainer.assessment .activityicon:not(.nofilter),
    .activityiconcontainer.assessment .icon:not(.nofilter) {
        filter: drop-shadow(10000px 0 0 var(--gay, var(--text-dark)) var(--clean, var(--test))) !important;
        transform: translateX(-10000px);
    }
    .activityiconcontainer.assessment:not(.isbranded) .activityicon:not(.nofilter),
    .activityiconcontainer.assessment:not(.isbranded) .icon:not(.nofilter) {
        filter: drop-shadow(10000px 0 0 var(--gay, var(--text-dark)) var(--clean, var(--test))) !important;
        transform: translateX(-10000px);
    }
    .activityiconcontainer.collaboration {
        background: var(--gay, var(--anuncis)) var(--clean, var(--background-light));
        border-radius: var(--border-radius);
    }
    .activityiconcontainer.content {
        background-color: var(--gay, var(--pdf)) var(--clean, var(--background-light));
        border-radius: var(--border-radius);
    }
    .activityiconcontainer.assessment {
        background: var(--gay, var(--test)) var(--clean, var(--background-light));
        border-radius: var(--border-radius);
    }
    .modicon_wooclap.activityiconcontainer.smaller,
    .modtype_wooclap .activityiconcontainer.smaller {
        background: var(--gay, var(--test)) var(--clean, var(--background-light));
    }
    .modicon_wooclap.activityiconcontainer.smaller img,
    .modtype_wooclap .activityiconcontainer.smaller img {
        content: url("https://e-aules.uab.cat/2025-26/theme/image.php/boost/assign/1762494855/monologo?filtericon=1");
        filter: drop-shadow(10000px 0 0 var(--gay, var(--text-dark)) var(--clean, var(--test))) !important;
        transform: translateX(-10000px);
    }
    
    .activityiconcontainer.smaller.other,               
    .activityiconcontainer.smaller.administration {
        background: var(--gay, var(--anuncis)) var(--clean, var(--background-light));
        border-radius: var(--border-radius);
    }
    /*[data-id="416484"] .activityicon {*/
    img.activityicon {
        filter: drop-shadow(10000px 0 0 var(--gay, var(--text-dark)) var(--clean, var(--anuncis))) !important;
        transform: translateX(-10000px);
    }
    .activityiconcontainer.smaller.administration .activityicon {
        width: 25px;
    }

    /*top bar*/
    .userinitials {
        background: var(--profile);
        color: var(--text-dark);
    }
    .dropdown-toggle::after {
        filter: drop-shadow(10000px 0 0 var(--text));
        transform: translateX(-10000px);
    }
    .dropdown-toggle:hover::after {
        filter: drop-shadow(10000px 0 0 var(--text-disabled));
        transform: translateX(-10000px);
    }
    .btn.dropdown-toggle:hover {
        background: var(--background-light) !important;
    }

    #usernavigation .icon,
    #usernavigation span.langbutton {
        color: var(--primary);
    }
    #usernavigation .icon:hover,
    #usernavigation span.langbutton {
        color: var(--primary-b) !important;
    }

    .navbar .count-container {
        background: var(--red);
        color: var(--text-dark);
    }
    .primary-navigation .navigation .nav-link {
        color: var(--text);
    }
    .primary-navigation .navigation .nav-link:hover {
        background: var(--background-light);
        border-bottom: 3px solid var(--primary);
    }


    /*side bar*/
    .drawer-toggles .drawer-toggler .btn {
        border-radius: var(--border-radius);
        padding: 10px;
        background: var(--gay, var(--tertiary)) var(--clean, var(--background-light));
    }
    .fa-chevron-left::before,
    .fa-list::before {
        color: var(--gay, var(--text-dark)) var(--clean, var(--tertiary)) !important;
    }

    .drawercontent {
        scrollbar-color: var(--tertiary) var(--background-light);
        background: var(--background);
    }

    .courseindex .courseindex-item.pageitem {
        background: var(--background-light);
    }
    .courseindex .courseindex-item:hover.pageitem, .courseindex .courseindex-item:hover.pageitem .courseindex-link, .courseindex .courseindex-item:hover.pageitem .courseindex-chevron {
        background: var(--background-light);
        color: var(--primary-b);
    }
    .courseindex .courseindex-item.courseindex-section-title a {
        color: var(--primary);
    }
    .courseindex .courseindex-item:hover.courseindex-section-title a {
        color: var(--primary-b);
    }
    .btn {
        color: var(--primary);
    }
    .btn:hover, .btn.btn-icon:hover {
        color: var(--primary-b);
        background: var(--background-light);
    }
    
    .courseindex .courseindex-item .courseindex-link,
    .courseindex .courseindex-item .courseindex-chevron {
        color: var(--text);
    }
    .courseindex .courseindex-item:hover .courseindex-link, .courseindex .courseindex-item:hover .courseindex-chevron {
        color: var(--text-disabled);
    }
    .drawerheader {
        background: var(--background);
    }

    .courseindex .courseindex-section.current {
        border-left: solid 3px var(--secondary);
    }
    .badge-primary {
        color: var(--text-dark);
        background-color: var(--secondary);
        border-radius: var(--border-radius);
    }
    .rounded-pill {
        border-radius: 50rem !important;
    }
    .courseindex .courseindex-item.dimmed .courseindex-link, .courseindex .courseindex-item.dimmed .courseindex-chevron {
      color: var(--text-disabled);
    }
    .courseindex .courseindex-item:hover.dimmed .courseindex-link {
      color: var(--text-disabled);
    }
    .fa-lock::before {
        color: var(--text-disabled);
    }

    /*inici*/
    .card {
        background-color: var(--background);
        border-width: 0px;
        border-radius: var(--border-radius);
    }
    #frontpage-available-course-list .coursebox,
    #frontpage-course-list .coursebox,
    .course-search-result .coursebox {
        border: 2px solid var(--secondary);
        background: var(--background-light);
        border-radius: var(--border-radius);
    }
    #site-news-forum h2,
    #frontpage-course-list h2,
    #frontpage-category-names h2,
    #frontpage-category-combo h2 {
        color: var(--primary);
    }
    .coursebox .content .teachers li {
        color: var(--primary);
    }

    .btn-secondary {
        color: var(--text);
        background-color: var(--background-light);
        border-width: 0px;
    }
    .form-control {
        color: var(--gay, var(--text-dark)) var(--clean, var(--text));
        background-color: var(--gay, var(--secondary)) var(--clean, var(--background-light));
        border-width: 0px;
        border-radius: var(--border-radius) !important;
        font-weight: 600;
    }
    .btn-outline-secondary {
        border-color: var(--gay, var(--secondary)) var(--clean, var(--background-light));
        border-width: 2px;
    }
    .border-bottom {
        border-bottom: 2px solid var(--primary) !important;
    }
    .list-group-item {
        background-color: var(--background);
    }
    .btn-primary {
        color: var(--gay, var(--text-dark)) var(--clean, var(--text));
        background-color: var(--gay, var(--secondary)) var(--clean, var(--background-light));
        border-width: 0px;
    }
    .custom-select {
        background: var(--background-light);
        border: 2px solid var(--gay, var(--primary)) var(--clean, var(--background-light));
        border-radius: var(--border-radius);
        color: var(--text);
    }
    .editmode-switch-form {
        color: var(--text);
    }
    /*
    .course_category_tree .category.with_children>.info>.categoryname {
        background-image: url(/2024-25/theme/image.php/boost/core/1730283310/t/expanded);
        filter: brightness(100%);
    }
    */
    /*avisos i noticies*/
    #next-activity-link.btn-link {
        color: var(--link);
    }
    .nextsection a,
    .prevsection a {
        color: var(--link);
    }
    .text-info {
        color: var(--tertiary) !important;
    }
    #page-mod-forum-view table .limit-width,
    .p-3,
    .generaltable td {
        background-color: var(--background);
    }
    .generaltable th {
        border-top: 0px;
    }
    .border {
        border-width: 0px !important;
    }
    /*search bar in avisos i noticies*/
    .form-control {
        background-color: var(--background-light);
        border: 2px solid var(--gay, var(--secondary)) var(--clean, var(--background-light));
        border-radius: var(--border-radius) !important;
        font-weight: 600;
        color: var(--text);
    }
    .input-group:not(.has-validation) > .form-control:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .simplesearchform .btn-submit {
        background-color: var(--background-light);
    }
    .simplesearchform .btn-submit {
        border: 2px solid var(--gay, var(--secondary)) var(--clean, var(--background-light));
        /*border-color: #286eb5;*/
        color: var(--primary);
    }
    .input-group > .input-group-append > .btn {
        line-height: 1;
    }

    /*entrega*/
    .breadcrumb:not(:empty) .breadcrumb-item a,
    .breadcrumb:not(:empty) .breadcrumb-item span {
        color: var(--gay, var(--text-dark)) var(--clean, var(--link));
    }
    .path-mod .activity-header:not(:empty) {
        background: var(--background);
    }
    .path-mod .activity-information .activity-dates {
        border-radius: var(--border-radius);
        background-color: var(--background-light) !important;
        color: var(--text);
        border-bottom-width: 0px;
        padding: 1em;
    }
    .path-mod-assign {
        color: var(--text);
    }
    .page-header-headings {
        padding-left: 1em
    }
    
    .path-mod-assign td.earlysubmission,
    .path-mod-assign div.earlysubmission,
    .path-mod-assign td.submissionstatussubmitted,
    .path-mod-assign div.submissionstatussubmitted,
    .path-mod-assign a:link.submissionstatussubmitted,
    .path-mod-assign td.submissiongraded,
    {
        color: var(--gay, var(--text-dark)) var(--clean, var(--green)) !important;
        background-color: var(--gay, var(--green))  var(--clean, var(--background));
    }
    .cell.c1.lastcol {
        color: var(--text)
    }
    .cell.c0:hover, .generaltable tr:hover {
        background: var(--background) !important;
        color: var(--primary);
    }

    .generaltable tbody tr:nth-of-type(2n+1), .generaltable tbody tr:nth-of-type(2n) {
        background-color: var(--background);
    }
    .table-bordered th, .table-bordered td, .generaltable td, .cell.c1.lastcol {
        border-width: 0px;
        border-top: 2px solid var(--background-light);
    }
    tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
        display: none;
    }
    [id^="comment-img-"] {
        filter: drop-shadow(10000px 0 0 var(--link));
        transform: translateX(-10000px);
    }
    #prev-activity-link.btn-link {
        color: var(--link);
        border-bottom-width: 0px;
    }
        /*upload in entregues*/
    .moodle-dialogue-base .moodle-dialogue-wrap {
      background-color: var(--background);
      border-width: 0px;
    }
    .file-picker .fp-content {
        background: var(--background);
    }
    .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
        border-bottom-width: 0px
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: var(--text-dark);
      background-color: var(--primary);
    }

    /*tauler*/
    .form-inline .form-control {
        background: var(--background);
        border: 2px solid var(--secondary);
    }

    /*calendar*/
    .cal_courses_flt {
        color: var(--text);
    }
    .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_course {
        background-color: var(--four);
        border: 2px solid var(--four);
    }
    .maincalendar .c alendarmonth td.today .day-number-circle {
        border-radius: 50%;
        color: var(--text-dark);
        background-color: var(--tertiary);
    }
    .path-mod-assign td.submissionnotgraded,
    .path-mod-assign div.submissionnotgraded {
        color: var(--primary);
    }
    .path-mod-assign td.submissionstatussubmitted,
    .path-mod-assign div.submissionstatussubmitted,
    .path-mod-assign a:link.submissionstatussubmitted {
        border-top: 1px solid var(--text);
    }
    .maincalendar .calendarmonth td.today .day-number-circle {
        border-radius: 50%;
        color: var(--text-dark);
        background-color: var(--tertiary);
    }

    .maincalendar .calendar_event_course {
        background-color: var(--background-light);
        border-color: var(--background-light);
        border-radius: var(--border-radius) !important;
    }
    .maincalendar .event .card-header img {
        filter: brightness(0) invert(100);
    }


    /*els meus cursos*/
    .block .block-cards span.categoryname,
    .block .block-cards .btn-link {
        color: var(--link);
    }
    hr {
        border-top-width: 0px;
    }
    .course-card .card-img-top, .theme-card .card-img-top, .card-img-bottom {
        display: var(--gay, block) var(--clean, none);
        border-radius: var(--border-radius);
        background-image: none !important;
    }
    .block .block-cards .progress-text {
        color: var(--text-disabled);
    }
    
    .card-grid .card, .bg-white {
        background-color: var(--background-light) !important;
        border-width: 0px;
        border-radius: var(--border-radius);
    }
    .card-grid :nth-of-type(6n+1) .card .card-img-top {
        background-color: if(not(@colourscheme = trans), var(--red), var(--link))
    }
    .card-grid :nth-of-type(6n+2) .card .card-img-top {
        background-color: if(not (@colourscheme = trans), var(--orange), var(--red))
    }
    .card-grid :nth-of-type(6n+3) .card .card-img-top {
        background-color: if(not (@colourscheme = trans), var(--yellow), var(--purple))
    }
    .card-grid :nth-of-type(6n+4) .card .card-img-top {
        background-color: if(not (@colourscheme = trans), var(--green), var(--red))
    }
    .card-grid :nth-of-type(6n+5) .card .card-img-top {
        background-color: var(--blue)
    }
    .card-grid :nth-of-type(6n+6) .card .card-img-top {
        background-color: if(not (@colourscheme = trans), var(--purple), var(--purple))
    }
    /*practiques*/
    .activity-item .activity-dates {
        color: var(--text);
    }

    /*perfil*/
    .dropdown-menu {
        background-color: var(--background-light);
        border-radius: var(--border-radius);
    }
    .dropdown-item {
        color: var(--text);
    }
    .dropdown-divider {
        border-top: 1px solid var(--text);
    }

    /*qualificacions*/
    .tertiary-navigation .tertiary-navigation-selector .dropdown-toggle {
        color: var(--primary);
    }
    #page.drawers .main-inner {
        background-color: var(--background);
    }
    .generaltable {
        color: var(--primary);
    }
    .generaltable td {
        border-top: 1px solid var(--text);
    }

    .path-grade-report-user .user-grade .baggt,
    .path-grade-report-user .user-grade th.category,
    .path-grade-report-user .user-report-container,
    .path-grade-report-user .user-grade thead th,
    .path-grade-report-user .user-grade td,
    .user-grade th.column-itemname:not(.header,
    .category,
    .baggt,
    .baggb) {
        background-color: var(--background) !important;
        border-bottom-color: var(--background-light);
        border-top-color: var(--background-light);
        border-left-color: var(--background);
        border-right-color: var(--background);
    }
    .path-grade-report-user .user-grade td.item,
    .grade-report-user .user-grade td.item,
    .path-grade-report-user .user-grade th.column-itemname:not(.header,
    .category,
    .baggt,
    .baggb),
    .tertiary-navigation.full-width-bottom-border {
        border-top-width: 0px;
        border-bottom-width: 0px;
    }

    .tertiary-navigation .navitem-divider {
        width: 0px;
        background-color: #ff00f2;
    }
    #page.drawers {
        scrollbar-color: var(--primary) var(--background-light);
    }
    .tertiary-navigation .tertiary-navigation-selector .dropdown-toggle::after {
        color: var(--primary) !important;
    }

    /*side bar*/
    .list-group-item.active {
        background-color: var(--primary);
        border-width: 0px;
        color: var(--text-dark);
    }
    .list-group-item-action {
        color: var(--text);
    }

    /*participants*/
    .page-item.active .page-link {
        color: var(--text-dark);
        background-color: var(--primary);
        border-color: var(--primary);
    }
    .page-link {
        color: var(--text);
        background-color: var(--background-light);
        border-color: var(--background-light);
    }
    /*questionaris*/
    .card-header, table.quizreviewsummary th.cell, table.quizreviewsummary td.cell {
        background: var(--background-light);
        border-top-width: 0px;
    }
    .que .info, .que .formulation {
        background: var(--background-light);
        border-radius: var(--border-radius);
        border-width: 0px;
        color: var(--text);
    }
    .que .questionflagimage {
        filter: drop-shadow(10000px 0 0 var(--primary));
        transform: translateX(-10000px);
    }
    .que.multichoice .answer div.r0 input, .que.multichoice .answer div.r1 input {
        accent-color: var(--primary);
    }

    /*die*/
    .drawer-toggles .drawer-right-toggle .btn {
        display: none;
    }
    div[data-region="footer-container-popover"] .bg-secondary {
        display: none;
    }

    /*top logo*/
    img.logo.mr-1 {
        display: none;
    }

    .dashboard-card-deck .dashboard-card .dashboard-card-img {
        display: none;
    }

    .pb-1,
    .py-1 {
        display: none;
    }
    .navbar.fixed-top .navbar-brand .logo {
        display: none;
    }
    .activity.subsection > .activity-item {
        border: 0px solid #5b7ea2;
    }


    /*ajuda alumnat pending*/
}

@-moz-document domain("sso.uab.cat") {
    :root{
        --enllac: var(--link);
        --enllac-hover: var(--link-b);
        --cas-theme-primary: var(--secondary);
        --cas-theme-svg-fill: var(--text);        
    }
    
    .cls-1, .cls-2 {
        fill: var(--primary);
    }
    
    body {
        color: var(--text);
        background: var(--background);
    }
    h1 {
        color: var(--primary);
    }
    h1:after {
        background: var(--primary);
    }
    .page-content {
        border-radius: var(--border-radius);
        background: var(--background-light);
    }
    .btn-primary {
        color: var(--gay, var(--text-dark)) var(--clean, var(--primary));
        background: var(--gay, var(--primary)) var(--clean, #282828);
        border-radius: var(--border-radius);
        border-width: 0px;
    }
    .btn-primary:hover {
        background: var(--primary-b);
        border-width: 0px;
        color: var(--text-dark);
    }
    .btn-primary:focus {
        background: var(--primary-b);
        border-width: 0px !important;
        color: var(--text-dark);
        box-shadow: none;
    }
    footer {
        background: var(--background-light);
    }
    footer li a {
        color: var(--text);
    }
    #selectorIdioma {
        display: none;
    }
}
